<h1>List of all movies</h1>


  
<table border="1" >

<tr>
<td><%= @the_movie.id %></td>
<td>
<img src="http://robohash.org/<%= @the_movie.title %>">
</td>
<td><%= @the_movie.title %></td>
<td><%= @the_movie.year %></td>
<td>


</a>
</td>
